<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.formulario"
	version 	= "1.0.0">

	<name>Mi Formulario</name>

	<description>
		App desarrollada con phonegap que presenta un formulario
	</description>

	<author email="gonzalo.ramundo@gmail.com">
		Gonzalo Ramundo
	</author>
	
	<icon src="buscar.png" gap:role="default" />

	<preference name="orientation" value="portrait" />
</widget>
